*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    height: 100vh;
    width: 100%;
}
.search-bar{
    width: 500px;
    padding: 20px 20px;
    background-color: #272626;
    border-radius: 10px;
}
.logo{
    margin-bottom: 10px;
}
.search-input{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    color: gainsboro;
    width: 100%;
    border: none;
    outline width: 0;
    font-size: 19px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    
}
.logo-text{
    display: block;
    margin-left: auto ;
    margin-right: auto;
    width: 30%;
    color: rgb(99, 97, 96);
    margin-bottom: 60px;
}
body {
    font-family: 'Poppins', serif;
    font-size: 14px;
  }
  /*read-page*/
  
  .read-wrapper{
      width: 100%;
      min-height: 100vh;
      display: flex;
      justify-content: center;
  }
  .read-inner{
      color: azure;
  }
